@page
@model AddGameStats

@{
    ViewData["Title"] = "Add Game Stats";
}

<h1>Create</h1>

<h4>GameStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="GameStats.playerID" class="control-label"></label>
                <select asp-for="GameStats.playerID" asp-items="Model.PlayersDropDown" class="form-control">
                    <option value="">--Select Player--</option> 
                </select>
                <span asp-validation-for="GameStats.playerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add GameStats" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}